body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f9f9f9;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
}

.search-container {
    display: flex;
}

.search-container input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-container button {
    padding: 8px;
    background-color: #0073e6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}

.search-container button:hover {
    background-color: #005bb5;
}

.main-layout {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #f9f9f9;
    border-right: 1px solid #e0e0e0;
    padding: 10px 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 20px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #e0e0e0;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.video-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the gap between video items */
}

.grid-item {
    width: calc(25% - 15px); /* 4 items per row */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.grid-item img {
    width: 100%;
    border-radius: 4px;
}

#pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#pagination button {
    margin: 0 5px;
    padding: 8px 12px;
    border: none;
    background-color: #0073e6;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

#pagination button.active {
    background-color: #005bb5;
}

#pagination button:hover {
    background-color: #005bb5;
}
